/* Application-wide Styles */
:root {
  --primary-color: #2a785e;
  --secondary-color: #ff5a00;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
  text-shadow: 0px 4px 5px black;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em 1em;
  background: url('./assets/img/bg.png'),#26d9fa radial-gradient(circle farthest-corner,#26d9fa,#138db7);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
body, input[text], button {
  color: var(--primary-color);
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  position: relative;
  left: calc(50% - 125px);
}

nav{
  width: 100%;
  padding: 5px 0;
  background: rgba(0,0,0,.7);
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  line-height: 30px;
  color: white;
  font-size: 21px;
  box-shadow: 0px 3px 5px black;
}

nav a{
  text-decoration: none;
  color: white;
}